/*
 *** CIRCLE OF FIFTHS STYLES ***
*/

section.dashboard {
    display: block;
    padding: 20px 15px;
    text-align: center;
    position: relative;
}

.chart-container {
    display: inline-block;
    margin: 0 auto;
}

#circle-of-fifths-minor {
    position: absolute;
    top: 20px;
}

#circle-of-fifths-chords {
    position: absolute;
    top: 20px;
}