/*
 *** CIRCLE OF FIFTHS STYLES ***
*/

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../assets/fonts/Roboto_Condensed/RobotoCondensed-Light.ttf) format('truetype');
    /* unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; */
}

body {
    background-color: #00b140; 
    font-family: 'Roboto Condensed', serif, Verdana, sans-serif;
    box-sizing: border-box;
}

section.dashboard {
    display: block;
    margin: 0;
    padding: 20px 20px;
    text-align: center;
    position: relative;
}

.chart-container {
    display: inline-block;
    margin: 0 auto;
}

#circle-of-fifths-container {
    position: relative;
    top: 100px;
    margin: 0;
    padding: 0;
}

.echarts-entry {
    z-index: 2;
}

#circle-of-fifths-minor {
    display: none;
    position: absolute;
    top: 0;
    /* top: 20px; */
}

#circle-of-fifths-chords {
    position: absolute;
    top: 0;
    /* top: 20px; */
}

#settings-container {
    position: absolute;
    left: 0;
    z-index: 10;
}

button {
    padding: 8px 10px 8px 10px;
    background: #fff;
    font: 12px "Roboto Condensed", Verdana, sans-serif;
    border: none;
}
button:hover {
    cursor: pointer;
    background: #efefef;
}
button#start-song {
    /* display: none; */
}

/*** KEY NUMBERS ***/

/* #circle-of-fifths-container:before {
    content: '';
    border-radius: 50%;
    background: blue;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
} */

aside#key-interval-numbers {
    position: absolute;
    /* left: -800px; */
    width: 100%;
    height: 100%;
    /* width: 110%;
    height: 110%; */
    /* width: 1000px; */
    /* height: 1000px; */
    /* background: blue; */
    border-radius: 50%;
    z-index: 1;
    
    /* font-size: 1em;
    width: 26em;
    height: 26em;
    overflow: hidden;
    position: fixed;
    top: 0; */
    /* bottom: -13em; */
    /* left: 50%; */
    /* margin-left: -13em;
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -moz-transform: scale(0.1);
    transform: scale(0.1);
    pointer-events: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease; */
}
aside#key-interval-numbers ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    height: 100%;
    /* transform: scale(0); */
    transform: rotate(-120deg); /* IMPORTANT: adjust rotate to change key (where "I" should align) */
    transform-origin: center;
    transition: all 0.08s ease-in-out;
}
/* https://tympanus.net/Tutorials/CircularNavigation/index.html */
/* https://codepen.io/wbarahona/pen/vLoyOb */
aside#key-interval-numbers ul li {
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    /* top: 50%;
    left: 50%; */
    /* display: inline-block; */
    /* width: 4rem; */
    /* height: 80%; */
    /* margin-top: -12rem;
    margin-left: -2rem; */
    /* position: absolute;
    font-size: 1.5em;
    width: 10em;
    height: 10em;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    overflow: hidden;
    left: 50%;
    top: 50%;
    margin-top: -1.3em;
    margin-left: -10em;
    -webkit-transition: border .3s ease;
    -moz-transition: border .3s ease;
    transition: border .3s ease; */
}

aside#key-interval-numbers ul li:nth-child(1) {
    transform: rotate(30deg);
}
aside#key-interval-numbers ul li:nth-child(2) {
    transform: rotate(60deg);
}
aside#key-interval-numbers ul li:nth-child(3) {
    transform: rotate(90deg);
}
aside#key-interval-numbers ul li:nth-child(4) {
    transform: rotate(120deg);
}
aside#key-interval-numbers ul li:nth-child(5) {
    transform: rotate(150deg);
}
aside#key-interval-numbers ul li:nth-child(6) {
    transform: rotate(180deg);
}
aside#key-interval-numbers ul li:nth-child(7) {
    transform: rotate(210deg);
}

/* aside#key-interval-numbers ul li:nth-child(1) {
    transform: rotate(30deg);
}
aside#key-interval-numbers ul li:nth-child(2) {
    transform: rotate(60deg);
}
aside#key-interval-numbers ul li:nth-child(3) {
    transform: rotate(90deg);
}
aside#key-interval-numbers ul li:nth-child(4) {
    transform: rotate(120deg);
}
aside#key-interval-numbers ul li:nth-child(5) {
    transform: rotate(150deg);
}
aside#key-interval-numbers ul li:nth-child(6) {
    transform: rotate(180deg);
}
aside#key-interval-numbers ul li:nth-child(7) {
    transform: rotate(210deg);
} */
/* aside#key-interval-numbers ul li:nth-child(8) {
    transform: rotate(240deg);
}
aside#key-interval-numbers ul li:nth-child(9) {
    transform: rotate(270deg);
}
aside#key-interval-numbers ul li:nth-child(10) {
    transform: rotate(300deg);
}
aside#key-interval-numbers ul li:nth-child(11) {
    transform: rotate(330deg);
} */
/* aside#key-interval-numbers ul li:nth-child(12) {
    transform: rotate(30deg);
} */

aside#key-interval-numbers ul li .interval-wrapper {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 4rem;
    height: 100%;
}
aside#key-interval-numbers ul li .interval-wrapper h3 {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 50px;
    transform: scale(1, 1);
}

/* @-webkit-keyframes ripples {
    0% {
        opacity: 1;
        transform: scale(0.5);
        border-width: 3rem;
    }
    100% {
        opacity: 0.5;
        transform: scale(1);
        border-width: 0rem;
    }
}
@keyframes ripples {
    0% {
        opacity: 1;
        transform: scale(0.5);
        border-width: 3rem;
    }
    100% {
        opacity: 0.5;
        transform: scale(1);
        border-width: 0rem;
    }
}
@-webkit-keyframes bouncein {
    to {
        transform: scale(1);
    }
}
@keyframes bouncein {
    to {
        transform: scale(1);
    }
} */